.App{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buffer{
  margin: 20px;
}

.content{
  margin: 10px;
}

.row{
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.elementA{
  display: flex;
  flex-grow: 1;
}

.elementB{
  display: flex;
  flex-grow: 1;
}

.elementC{
  display: flex;
  flex-grow: 1;
}

.elementD{
  display: flex;
  flex-grow: 1;
}
